* {
    padding: 0px;
    margin: 0px;
}

.flex-container {
    width: 100vw;
    height: 100vh;
    background-color: #ffffff;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

}

.box1 {
    background-color: #ffffff;
    border: #0059ff 3px solid;
    width: 500px;
    height: 600px;
    padding: 5px;
    margin: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    font-family: Cambria;
    font-weight: bolder;
    font-size: 30px;
    color: #0059ff;
    position: relative;

}

.box2 {
    background-color: #ffffff;
    border: #0059ff 3px solid;
    width: 500px;
    height: 600px;
    padding: 5px;
    margin: 10px;
    font-family: Cambria;
    font-weight: bolder;
    font-size: 20px;
    color: #0059ff;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    position: relative;

}

.fruitbar {

    border: #0059ff 3px solid;
    padding: 15px;
    margin: 5px;
    height: 40px;
    display: flex;
    justify-content: flex-end;
    align-items: center;

}

.counterContainer {
    display: flex;
    justify-content: space-evenly;
    align-items: baseline;
    padding: 30px;
    margin: 5px;

}

.counterBtn {

    border: #0059ff 3px solid;
    color: #0059FFFF;
    width: 35px;
    height: 35px;
    background-color: white;
    font-size: 30px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;

}

.fruitCount {
    border: #ffffff 3px solid;
    color: #0059FFFF;
    width: 30px;
    height: 30px;
    margin: 10px;

    background-color: white;
    font-size: 25px;
    font-weight: bold;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;

}

.form {

    /*border: cornflowerblue 3px solid;*/
    padding: 30px;
    margin: 5px;
    display: flex;
    flex-direction: column;

}

.input {
    margin: 10px;
    display: inline-block;

}

.delivtimecontainer{
    display: flex;
    flex-direction: row;
    margin: 20px;
}

.comment{
    resize: none;
    margin: 10px;

}

.stdBtn {
    font-family: Cambria;
    font-weight: bolder;
    font-size: 20px;
    color: #0059ff;
    padding: 10px;
    margin: 20px;
    width: 400px;


}
.fruitCount{
    color: #0059ff;
}
.sendContainer{
    display: flex;
    flex-direction: column;
    align-items: center;

}
.warn{
    font-size: 14px;
    color: crimson;
}

.greet{
    font-size: 16px;
    color: #0059ff;

}