
* {
    padding: 0px;
    margin: 0px;
}

body {

}

.flex-container {
    width: 100vw;
    height: 100vh;
    background-color: #ffffff;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

}

.box1 {
    background-color: #ffffff;
    border: #0059ff 3px solid;
    width: 500px;
    height: 600px;
    padding: 5px;
    margin: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    font-family: Cambria;
    font-weight: bolder;
    font-size: 30px;
    color: #0059ff;


}
.box2 {
    background-color: #ffffff;
    border: #0059ff 3px solid;
    width: 500px;
    height: 600px;
    padding: 5px;
    margin: 10px;
    font-family: Cambria;
    font-weight: bolder;
    font-size: 20px;
    color: #0059ff;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;


}

.fruitBar {

    border: #0059ff 3px solid;
    padding: 15px;
    margin: 5px;
    height: 40px;
    display: flex;
    justify-content:flex-end;
    align-items: center;

}

.fruitBarReset {

    border: #0059ff 3px solid;

    height: 40px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-family: Cambria;
    font-weight: bolder;
    font-size: 20px;
    color: #0059ff;


}

.counterContainer{
    display: flex;
    justify-content: space-evenly;
    align-items: baseline;
    padding: 30px;
    margin: 5px;

}

.counterBtn {

    border: #0059ff 3px solid;
    color: #0059FFFF;
    width: 35px;
    height: 35px;
    background-color: white;
    font-size: 30px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;

}

.fruitCountNr{
    border: #ffffff 3px solid;
    color: #0059FFFF;
    width: 30px;
    height: 30px;
    margin: 20px;
    background-color: white;
    font-size: 30px;
    font-weight: bold;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;

}




.form {

    /*border: cornflowerblue 3px solid;*/
    padding: 20px;
    margin: 5px;
    display: flex;
    flex-direction: column;


}

.formLabel {
    margin-left: 10px;
    margin-right: 50px;

}

.formInput {
    width: 200px;
    left: 30px;
    margin: 10px;

}

.formDropDownLabel {
    width: 20px;
    margin: 20px;

}

.formDropDown {
    width: 10px;
    margin: 20px;

}

.containerDelivBtn {
    display: flex;
}

.delivTimeRadio {
    margin: 10px;

}

.delivTimeRadioLabel {
    margin: 10px;

}

.commentLabel {
    margin-left: 10px;
    margin-top: 10px;

}

.comment {
    resize: none;
    margin: 10px;
    border-color: #0059FFFF;

}
.comment:active {
    border-color: #0059FFFF;
}

.agreeLabel {
    margin: 10px;
}

.agreeCheckbox {
    margin-right: 10px;
}

.stdBtn {
    font-family: Cambria;
    font-weight: bolder;
    font-size: 20px;
    color: #0059ff;
    padding: 10px;
    margin: 20px;
    width: 400px;

}

.reset {
    font-family: Cambria;
    font-weight: bolder;
    font-size: 20px;
    color: #0059ff;
    padding: 10px;
    margin: 20px;
    width: 70px;
    display: flex;
    justify-content: space-around;
}